Tests/!*.*
**/*.swp
**/*.swo
**/.*.swp
**/*.bin
**/*.cmake
**/Makefile
**/*.mp4
**/*.core
**/core
**/build/*/*.txt
**/build/CMakeFiles
**/residual.txt
**/ParticlesDump.xml
**/kinetic_energy_output.txt
**/log.txt
**/pngs/
**/.*
**/build/**/*assets*
!**/build/**/*.xml
**/ParticlesDump*.xml
**/FOSSSim_*
**/build/FOSSSIM/*
